/* Bootstrap overrides
-------------------------------------------------- */
$body: #16181f;
$headings-font-weight: 300 !important;
$primary: #16181f;
$light: #fafafa;

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap
@import "./../../../node_modules/bootstrap/scss/bootstrap.scss";

// Dapp-utils
@import "./../../../node_modules/@elrondnetwork/dapp-utils/dist/dapp-utils.scss";

/* Base
-------------------------------------------------- */
html {
  min-height: 100%;
  font-size: 14px;
}

.wrapper {
  min-height: 100vh;
}

.opacity-6 {
  opacity: 0.6;
}

.dapp-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: $light;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &.icon-medium {
    width: 80px;
    height: 80px;
  }
}

.bg-gradient-main {
  background: rgb(22, 24, 31);
  background: linear-gradient(140deg, rgba(22, 24, 31, 1) 0%, rgba(49, 60, 101, 1) 100%);
}

.btn {
  border-radius: 2rem !important;
  text-decoration: none !important;
  background: transparent !important;
  color: $white !important;
  border: 1px solid $white !important;
  font-size: 1.25rem !important;

  &:hover {
    background: #fff !important;
    color: #16181f !important;
  }
}

.text-6xl {
  font-size: 4rem;
  font-weight: bold !important;
}

.text-xl {
  font-size: 1.25rem;
}

.border-top-main {
  border-top: 1px solid #9ba5b4;
}

.border-block {
  border: 1px solid #9ba5b4;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background: #242526;
}

table {
  * {
    color: $white !important;
  }

  th {
    color: $primary !important;
  }

}

/* Navbar
-------------------------------------------------- */
.dapp-logo {
  color: $white;
  margin-right: 0.8rem;
}

.dapp-name {
  line-height: 1;
  border-left: 1px solid $gray-400;
  padding-left: 0.8rem;
}

/* Unlock page
-------------------------------------------------- */
div[data-testid="unlockPage"] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  @include media-breakpoint-up(sm) {
    max-width: 540px;
  }
  @include media-breakpoint-up(md) {
    max-width: 720px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 960px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  .card {
    margin: 0 !important;
    border: 0 !important;
    background-color: transparent;

    &::before {
      content: "Login";
      color: $white;
      font-weight: 700 !important;
      margin-bottom: 3rem !important;
      font-size: 2em;
    }

    &-body {
      padding: 0 !important;
      margin: 0 !important;

      h4 {
        display: none;
      }

      p {
        color: $white;
        font-size: 1.25rem !important;
      }

      div {
        display: inline-flex;
        flex-direction: column;

        .btn {
          margin: 0 0 1rem 0 !important;
        }
      }
    }
  }

}

/* Login container
-------------------------------------------------- */
.login-container {

  .card {
    margin: 0 1rem;

    button {
      border-color: #16181f !important;
      color: #16181f !important;
    }
  }
}

/* Dashboard
-------------------------------------------------- */
.action-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  margin: 0 7px;

  button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $white;

    &:hover {
      opacity: 0.9;
    }
  }
}

.transactions {
  .transaction-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &.table {

    .transaction-hash .trim {
      @include media-breakpoint-down(xl) {
        max-width: none;
      }
      @include media-breakpoint-down(lg) {
        max-width: 26rem;
      }
      @include media-breakpoint-down(md) {
        max-width: 12rem;
      }
      @include media-breakpoint-down(sm) {
        max-width: 8rem;
      }
    }

    td, tr {
      padding: 0.65rem;
    }

    td {
      white-space: nowrap;
      vertical-align: middle;
    }

    tr:last-of-type {
      td {
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

/* Actions
-------------------------------------------------- */

.not-allwed {
  cursor: not-allowed;
}

/* Loader, Transaction Success/Fail
-------------------------------------------------- */
.page-state {
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .bg-blue .lds-ellipsis div {
    background: rgba(255, 255, 255, 0.4);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}

/* Footer
-------------------------------------------------- */
footer {
  div {
    margin-top: 0.5rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.155rem;

    a {
      color: $black;

      &:hover {
        color: $black;
        text-decoration: none;
      }

      #heart {
        height: 16px;
        width: 16px;

        path {
          fill: #c00;
        }
      }
    }
  }

  .social-icon {
    width: 24px;
  }

  .button-icon {

    &:hover {
      color: $primary !important;
    }
  }
}
